/* FONT, TYPEFACE */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

html {
  font-size: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  /* line-height: 1.75; */
}

p {
  margin-bottom: 32px;
}

h1,
h2 {
  letter-spacing: -3px;
}

h1 {
  margin-top: 0;
  font-size: 7.295rem;
}

h2 {
  font-size: 4.902rem;
}

h3 {
  font-size: 3.295rem;
}

h4 {
  font-size: 2.214rem;
}

h5 {
  font-size: 1.488rem;
}

small,
.text_small {
  font-size: 0.672rem;
}

/* // GLOBAL // */

/* Global reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

/* Colors */
body {
  --background: #161616;
  --background-light: rgba(255, 255, 255, 0.15);
  --main: #c1c1c1;
  --highlight: #fdc500;
  --link: #a38000;
}

.container {
  width: 60%;
  margin-left: 20%;
}

body {
  background-color: var(--background);
  color: var(--main);
  /* user-select: none; */
}

.whitespace {
  height: 1px;
  width: 100%;
  margin-top: 256px;
}

.highlight,
em {
  color: var(--highlight);
  /* display: inline-block; */
}

em {
  font-style: normal;
}

/* .lowlight {
  color: var(--secondary);
} */

section,
footer {
  margin-top: 256px;
}

footer {
  width: 100%;
  padding-bottom: 64px;
  text-align: center;
  font-size: 12px;
}

.end-of-page {
  width: 100%;
  border-bottom: solid 16px var(--highlight);
}
/* // HEADER // */

/* NAVIGATION */
nav {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  justify-content: space-around;
  height: 64px;
  /* box-shadow: 0px 0px 15px 0px black; */
}

nav a {
  justify-self: center;
  align-self: center;
}

.link-hello {
  text-align: center;
}

/* Links in header */

a:link,
a:visited,
a:active {
  color: var(--link);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--highlight);
}

/* // WELCOME // */

main * {
  margin-bottom: 0;
}

main {
  align-items: start;
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: rgba(255, 0, 0, 0.1); */
}

/* main :is(h1, h2) {
  letter-spacing: -4px;
} */

main h1 {
  /* Align to <p> */
  margin-left: -9px;
  margin-top: -30px;
}

main h2 {
  /* Align to <p> */
  margin-top: -40px;
  margin-left: -6px;
  margin-bottom: 10px;
  font-size: 3.8rem;
}

main h5 {
  letter-spacing: -0.5px;
  margin-left: -2px;
}

main p {
  grid-column: 1 / -1;
}

.welcome.text {
  grid-row: 1;
  vertical-align: middle;
}

.welcome-hello {
  grid-column: 1;
}

.photo-placeholder {
  grid-column: 2;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 0, 0, 0.1);
}

.welcome-story {
  max-width: 75ch;
  margin-left: -1px;
}

/* .coffeman {
  font-size: 25%;
} */

/* // ABOUT // */

/* Skills - crrently disabled*/

/* .skills h3 {
  margin-bottom: 32px;
}

.skills-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
}

.skill-type {
  background: #8e678e;
}

.skill-type :is(p, h4) {
  text-align: center;
  margin: 0 20px;
} */

/* Roadmap */

.roadmap ul {
  position: relative;
  margin: 0 64px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.roadmap ul::before {
  grid-column: 1 / 2;
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 0.4em;
  background-color: var(--main);
  z-index: -1;
  align-self: center;
  border-radius: 25px 50px 50px 25px;
  border-right: var(--main) 50px solid;
  box-shadow: 0px 2px 5px 0px var(--main);
  opacity: 20%;
}

.roadmap li {
  float: left;
  list-style-type: none;
}

/* roadmap icons */

.roadmap svg,
ion-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  /* filter: grayscale(1); */
}

.icon-css {
  fill: #2965f1 !important;
  /* stroke: 2px #fff; */
  /* filter: drop-shadow(0 0 3px #2965f1) !important; */
}

.icon-js {
  fill: #f7df1e !important;
  /* filter: drop-shadow(0 0 3px #f7df1e) !important; */
}

.icon-ts-text {
  fill: var(--background);
}

/* // SHOWCASE // */

.showcase {
  padding: 25px;
  border-radius: 16px;
  background-color: var(--background-light);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 17px 10px;
}

.showcase-items {
  display: flex;
  justify-content: space-evenly;
}

/* // CONTACT // */

.socialmedia-links {
  color: var(--link);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 3%;
  left: 3%;
}

/* .socialmedia-link:link {
  color: var(--link);
} */

.socialmedia-links li {
  list-style: none;
  cursor: pointer;
}

/* // FOOTER // */
